@import "tailwindcss";

@theme {
  --color-primary: #0c132e;
  --color-action: #dcac00;
  --color-background: #F5F5F5;
  --color-dark-text: #333333;
  --color-title-text: #121212;

  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--color-dark-text);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}