---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/organisms/Hero.astro';
import IntroSection from '../components/organisms/IntroSection.astro';
import ServicesSection from '../components/organisms/ServicesSection.astro';
import ZonesSection from '../components/organisms/ZonesSection.astro';
import ReviewsSection from '../components/organisms/ReviewsSection.astro';
---

<Layout title="Cerrajero Tenerife 24h - Servicio Urgente y Rápido">
	<main>
		<Hero />
		<IntroSection />
		<ServicesSection />
		<ZonesSection />
		<ReviewsSection />
	</main>
</Layout>
