---
import '@fontsource/roboto';
import '@fontsource/montserrat';
import '../styles/global.css';
import Navbar from '../components/organisms/Navbar';
import Footer from '../components/organisms/Footer.astro';
import StickyCallBar from '../components/organisms/StickyCallBar';

interface Props {
	title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Cerrajero Tenerife 24h - Servicio Urgente" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/CerrajeriaDaniel/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <Navbar client:visible currentPath={currentPath} />
        <slot />
        <Footer />
        <StickyCallBar client:visible />
	</body>
</html>

